// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)
#include "鱼巢_外设_相机_resource.h"

#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDR_MAINFRAME ICON "res\\app.ico"

IDD_鱼巢外设相机_DIALOG DIALOGEX 0, 0, 620, 420
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_APPWINDOW
CAPTION "鱼巢_外设_相机"
FONT 9, "Microsoft YaHei UI", 0, 0, 0x1
BEGIN
    GROUPBOX        "控制区",IDC_STATIC,7,7,606,52
    PUSHBUTTON      "启动相机",IDC_BUTTON_CAMERA_START,20,24,72,18
    PUSHBUTTON      "停止相机",IDC_BUTTON_CAMERA_STOP,102,24,72,18
    PUSHBUTTON      "启动显示",IDC_BUTTON_DISPLAY_START,196,24,72,18
    PUSHBUTTON      "停止显示",IDC_BUTTON_DISPLAY_STOP,278,24,72,18
    PUSHBUTTON      "立即刷新",IDC_BUTTON_REFRESH,370,24,72,18
    GROUPBOX        "运行状态",IDC_STATIC,7,67,280,346
    EDITTEXT        IDC_EDIT_RUNTIME_STATUS,18,84,258,317,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
    GROUPBOX        "观测显示",IDC_STATIC,294,67,319,346
    EDITTEXT        IDC_EDIT_OBSERVATION,305,84,297,317,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_BORDER
END
